---
import Layout from "@/layouts/Layout.astro";

const title = "Contact";
const description = "Cara menghubungi penulis melalui email.";
---

<Layout title={title} description={description}>
  <div class="max-w-none">
    <h1 class="text-2xl sm:text-3xl font-semibold text-neutral-800 dark:text-neutral-200 mb-6">Contact</h1>
    
    <p class="text-neutral-600 dark:text-neutral-400 mb-6">
      Jika anda ingin menghubungi saya, anda dapat dengan mudah mengirimkan pesan ke alamat email saya di <a href="mailto:fujihalimrabani1601@gmail.com" class="text-neutral-800 dark:text-neutral-200 font-medium hover:underline">fujihalimrabani1601@gmail.com</a>.
    </p>
    
    <p class="text-neutral-600 dark:text-neutral-400 mb-6">
      Dimohon untuk mengirimkan pesan dengan topik pembahasan atau subjek yang jelas dan juga isi kata-kata yang sopan. Agar saya dapat tenang dan nyaman disaat membaca pesan email yang anda kirim.
    </p>
    
    <p class="text-neutral-600 dark:text-neutral-400 mb-6">
      Apabila terdapat pertanyaan, masukan, kritik, maupun hal lainnya yang berhubungan dengan website ini, maka jangan ragu untuk menghubungi saya melalui alamat email tersebut.
    </p>
    
    <p class="text-neutral-600 dark:text-neutral-400">
      Terima kasih.
    </p>
  </div>
</Layout>
