---

---

<footer
  class="slide-enter-content px-4 pb-28 pt-6 text-center text-xs text-neutral-500 dark:text-neutral-500"
>
  <p
    class="leading-6"
    style="--enter-stage: 10;"
  >
    2024–Present © Fuji

    |

    <a
      href="/privacy"
      class="underline underline-offset-2"
    >
      Privacy Policy
    </a>

    |

    <a
      href="/disclaimer"
      class="underline underline-offset-2"
    >
      Disclaimer
    </a>

    |

    <a
      href="https://pt-bengdrim.betteruptime.com/"
      target="_blank"
      rel="external nofollow noopener noreferrer"
      class="underline underline-offset-2"
    >
      Status
    </a>
  </p>

  <p
    class="mt-1 leading-6"
    style="--enter-stage: 11;"
  >
    Proudly created by

    <a
      href="https://github.com/sinardunia"
      target="_blank"
      rel="external nofollow noopener noreferrer"
      class="underline underline-offset-2"
    >
      Fujitime
    </a>

    and powered by

    <a
      href="https://astro.build/"
      target="_blank"
      rel="external nofollow noopener noreferrer"
      class="underline underline-offset-2"
    >
      Astro
    </a>
  </p>
</footer>