---
import { UTTERANCES_REPO } from "@/data/config";

type Props = {
  issueTerm?: string;
  label?: string;
  theme?: string;
};

const { issueTerm = "pathname", label = "blog-post-comments", theme = "preferred-color-scheme" } = Astro.props;
---

<div class="border-t border-neutral-100/50 dark:border-neutral-900/30 pt-8">
  <script
    is:inline
    src="https://utteranc.es/client.js"
    repo={UTTERANCES_REPO}
    issue-term={issueTerm}
    label={label}
    theme={theme}
    crossorigin="anonymous"
    async
  ></script>
</div>
